In [5]:
!pip install requests
!pip install pysqlite3
!pip install sqlalchemy

Requirement already satisfied: requests in c:\users\celio\appdata\roaming\python\python312\site-packages (2.32.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\celio\appdata\roaming\python\python312\site-packages (from requests) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\celio\appdata\roaming\python\python312\site-packages (from requests) (3.8)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\celio\anaconda3\lib\site-packages (from requests) (2.2.3)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\celio\appdata\roaming\python\python312\site-packages (from requests) (2024.7.4)

  error: subprocess-exited-with-error

  python setup.py bdist_wheel did not run successfully.
  exit code: 1

  [10 lines of output]
  running bdist_wheel
  running build
  running build_py
  creating build\lib.win-amd64-cpython-312\pysqlite3
  copying pysqlite3\dbapi2.py -> build\lib.win-amd64-cpython-312\pysqlite3
  copying pysqlite3\__init__.py -> build\lib.win-amd64-cpython-312\pysqlite3
  running build_ext
  Builds a C extension linking against libsqlite3 library
  building 'pysqlite3._sqlite3' extension
  error: Microsoft Visual C++ 14.0 or greater is required. Get it with "Microsoft C++ Build Tools": https://visualstudio.microsoft.com/visual-cpp-build-tools/
  [end of output]

  note: This error originates from a subprocess, and is likely not a problem with pip.
  ERROR: Failed building wheel for pysqlite3
ERROR: ERROR: Failed to build installable wheels for some pyproject.toml based projects (pysqlite3)

Collecting pysqlite3
  Using cached pysqlite3-0.5.4.tar.gz (40 kB)
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: pysqlite3
  Building wheel for pysqlite3 (setup.py): started
  Building wheel for pysqlite3 (setup.py): finished with status 'error'
  Running setup.py clean for pysqlite3
Failed to build pysqlite3
Requirement already satisfied: sqlalchemy in c:\users\celio\anaconda3\lib\site-packages (2.0.34)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\celio\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\celio\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [11]:
import pandas as pd
#df = pd.read_excel("data.xlsx", sheet_name='Hoja1') para cargar los dato de una hoja especifica
df = pd.read_excel("data.xlsx")
df

,Age,Sex,ID,Race,Country,Education,Education-Num,Marital Status,Relationship
0,39.0,Male,49084,White,United-States,Bachelors,13.0,Never-married,Not-in-family
1,50.0,Male,68553,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
2,38.0,Male,143654,White,United-States,HS-grad,9.0,Divorced,Not-in-family
3,53.0,Male,41510,Black,United-States,11th,7.0,Married-civ-spouse,Husband
4,28.0,Female,195025,Black,Cuba,Bachelors,13.0,Married-civ-spouse,Wife
...,...,...,...,...,...,...,...,...,...
48838,39.0,Female,735617153,White,United-States,Bachelors,13.0,Divorced,Not-in-family
48839,64.0,Male,1131807446,Black,United-States,HS-grad,9.0,Widowed,Other-relative
48840,38.0,Male,781422087,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband
48841,44.0,Male,161771296,Asian-Pac-Islander,United-States,Bachelors,13.0,Divorced,Own-child
48842,35.0,Male,1344995623,White,United-States,Bachelors,13.0,Married-civ-spouse,Husband